


<div class="card h-100">
    <img [src]=" IMGPATH+getitem.poster_path" class="card-img-top w-75 h-75" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{getitem.title}}</h5>
      <div class="card-text">{{getitem.id}}</div>
      <div class="card-text">{{getitem.release_date | date :'fullDate'}}</div>
      <div class="card-text">{{getitem.original_language}}</div>
      <button   class="btn btn-success" (click)="handleDelete(getitem.id)">delete</button>
      <button class="btn btn-secondary" (click)="handleNavigate(getitem.id)">press</button>
      <button (click)="addToCart(getitem.id)">Add to Cart</button>
    
     
    </div>
  </div>